.notFound {
    border:1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .title404_Div{
   font-size: 5rem;
   z-index: 1;
   position: absolute;
   opacity: 0.2;
  }
  .bottomDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .bottomDiv > h2{
    font-size:3rem;
    text-transform: uppercase;
  }
  
  .bottomDiv >p {
    font-size:20px;
    margin-top:-1rem;
    font-family: "Helvetica Neue",sans-serif;
  }
  
  #link{
    border:1px solid yellow;
    height:50px;
    padding:10px 20px;
    text-align:center;
    background-color:black;
    color:white;
    border-radius: 5px;
    transition:all 0.8 ease;
  }
  #link:hover{
    transform:scale(1.01);
    color:yellow;
  }
  